/* *********************************************** Projects.css ******************************************************* */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/Users/charlienunn/Documents/smart-portfolio-dashboard/client/public/images/background3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.portfolio-page {
  color: #333;
}

.projects-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: 130px;
}

.project-card {
  background-color: rgba(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.project-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.project-card h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.project-card p {
  font-size: 1em;
  margin-bottom: 15px;
}

.github-link {
  text-decoration: none;
  color: #ff6f61;
  font-weight: bold;
  transition: color 0.3s;
}

.github-link:hover {
  color: #ff3b3b;
}
